.user {
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: var(--foreground);

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .name {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-primary);
  }

  .date {
    position: relative;

    font-size: 0.75rem;
    color: var(--text-secondary);
    top: 1.5px;

    span {
      margin: 0 0.325rem;
    }
  }

  &.horizontal {
    .avatar,
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &.vertical {
    .avatar,
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
