.button {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  border-radius: 1rem;
  border: none;
  cursor: pointer;

  .icon {
    margin-right: 0.25rem;
    display: inline-flex;
    align-items: center;
  }

  &.iconButton {
    border-radius: 50%;
    padding: 0;
    justify-content: center;
    align-items: center;

    &.small {
      width: 2rem;
      height: 2rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &.medium {
      width: 2.5rem;
      height: 2.5rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    &.large {
      width: 3rem;
      height: 3rem;

      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    height: 1.625rem;
    max-height: 1.625rem;

    .icon {
      width: calc(0.75rem + 0.25rem);
    }
  }

  &.medium {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 2.375rem;
    max-height: 2.375rem;

    .icon {
      width: calc(1rem + 0.25rem);
    }
  }

  &.large {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    height: 3rem;
    max-height: 3rem;

    .icon {
      width: calc(1.25rem + 0.25rem);
    }
  }

  &.primary {
    background-color: var(--button-primary);
    color: var(--background);

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }

  &.secondary {
    background-color: var(--button-secondary);
    color: var(--foreground);

    &:hover {
      background-color: var(--button-secondary-hover);
    }
  }

  &.outline {
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--foreground);

    &:hover {
      background-color: var(--foreground);
      color: var(--background);
    }
  }

  &.text {
    background-color: var(--background);
    color: var(--foreground);

    &:hover {
      background-color: var(--hover);
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
